<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <script src="https://kit.fontawesome.com/20a029c3f0.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>

    <!-- Adding moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.js"></script>
    
    <!-- Adding lodash.js -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

    <!-- Leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />

    <!-- CSS fro JS Plugin : animatedModal -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">

    <!-- Our css -->
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" />


    <title>Good Neighbor Sacramento</title>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="font-family: sweetpurple;" href="#"><h1>good neighbor</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div> -->
</nav>

<div class="container-fluid">
    <div id="map"></div>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12" style="margin-top: 20px; text-align: center;">
            <h1 style="font-family: sweetpurple; font-size: 80px;">Sacramento. The City of Trees</h1>
            <blockquote class="blockquote">
                <p class="mb-0">Sounds really nice - and peaceful, doesn't it? But REALLY, how safe are the neighborhoods? Let's find out together!</p>
                <footer class="blockquote-footer">your good neighbor ;)</cite></footer>
              </blockquote>
                         
            <div id="animatedModal" style="position: absolute; z-index: -1 !important;">
                <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
                <div class="close-animatedModal" style="padding: 20px;"> 
                    <i class="far fa-times-circle fa-2x"></i>
                </div>
                <div class="modal-content" style="border: 0px; position: absolute; z-index: -1 !important">

                    

                    <div class="row" style="border: 0px;">
                        
                        

                        <div class="col-md-6" style="border: 0px;">
                            <h3>District One: Northwest - Overview</h3>

                            <div id="bar-graph">
                            </div>
                    
                            <div id="line-graph">
                            </div>
                    
                            <div id="heat-map">
                            </div>

                            <div id="bar-graph">
                            </div>
                        </div>

                        <div id="district1" class="col-md-4" style="border: 0px;">
                            
                            <div class="col-md-12" id="safetyranking">
                                <h3>Neighborhood Safety Ranking</h3>
                                <br>
                            </div>

                            

                        </div>

                        <div id="district1" class="col-md-2" style="border: 0px;">
                            
                            
                                <h4>Real Estate Values</h4>
                                <h5>ZIP Codes:</h5>
                                

                            

                        </div>


                        
                
                    </div>

                </div>
            </div>


        </div>
    </div>

    

    <div class="container-fluid no-padding">
        <div class="row">
          <div class="col-md-12">
                <img src="../static/img/cityoftrees.jpg" style="width: 100%; opacity: 0.40;" class="img-responsive" />
                <div class="centered"></div>
          </div>
        </div>
    </div>

    <div class="row"></div>
        <div class="col-md-12">
            <div id="districts" style="text-align:center">

                <a id="D1" href="#animatedModal" style="display:none">DEMO01</a>
                <p>Hello, <span id="username"></span></p>

                <ul style="list-style: none;">
                    {% for district in district %}
                       <li>{{ district.beat }}: {{ district.beat }}</li>
                    {% endfor %}
                </ul>
                <ul style="list-style: none;">
                    {% for district in district %}
                       <li>{{ district.beat }}: {{ district.beat }}</li>
                    {% endfor %}
                </ul>
                
    
            </div>
        </div>
    </div>


</div>





<!-- D3 JavaScript -->
<!-- <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>


<!-- Our JavaScript -->
<script type="text/javascript" src="../static/js/config.js"></script>
<!-- <script type="text/javascript" src="../static/js/logic.js"></script> -->
<!-- <script type="text/javascript" src="../static/js/crime.js"></script> -->
<script type="text/javascript" src="../static/js/crime.js"></script>
<script type="text/javascript" src="../static/js/choropleth.js"></script>
<script type="text/javascript" src="../static/js/choroplethmap.js"></script>

<!-- <script type="text/javascript" src="../static/js/heatmap.js"></script> -->

<!-- JS animatedModal -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../static/js/animatedModal.js-master/animatedModal.min.js"></script>

<script src="../static/js/beats.js"></script>
<script src="../static/js/modalContent.js"></script>

<script>
    var user = JSON.parse('{{ user | tojson | safe}}');
    document.getElementById('username').innerHTML = user.firstname + " " +
            user.lastname;

</script>



</body>



</html>